.path_box ul li span{display: inline-block;}

/* 버튼 공통 스타일 */
.btn_outline{
    height: 60px; border-radius: 30px; border: 1px solid #FFC700;
    background: #fff;
    padding: 0 20px; 
    font-family: 'SCoreDream'; font-weight: 500; font-size: 16px;
    cursor: pointer;
}
.btn_filled{
    height: 60px; border-radius: 30px; 
    padding: 0 20px;
    background:#FFC700; 
    border: 1px solid #FFC700; 
    font-family: 'SCoreDream'; font-weight: 500; font-size: 16px;
    cursor: pointer;
}

/* 너비 공통스타일 */
.w250{width: 250px;}
.w420{width: 420px;}
.w100{width: 100%;}


/* 로그인 */
#login_wrap{padding: 150px 0;}
#login_wrap .tit_box{text-align: center;}
#login_wrap .tit_box h2{font-size: 42px; font-weight: 600;}
#login_wrap .tit_box p{font-size: 18px;}

#login_wrap .form_box{width: 420px; margin: 60px auto 0 auto;}
#login_wrap .form_box .row + .row{ margin-top: 24px;}
#login_wrap .form_box .inp_row .inp_txt input{
    width: 100%;
    padding: 18px 20px; border-radius: 18px;
    box-sizing: border-box;
    border: 1px solid #8B8B8B; 
    font-family: 'SCoreDream'; font-size: 16px;
    color:#1C1C1C;
    outline: none;
}

#login_wrap .form_box .inp_row .inp_txt input:focus{
    border: 3px solid #ff0000; 
}
#login_wrap .form_box .inp_row .inp_txt input::placeholder{color:#8B8B8B}
#login_wrap .form_box .inp_row .err_msg{
    padding-left: 34px; background: url(../images/ico-attention.svg) no-repeat left center;
    margin-top: 10px;
    font-size: 14px; color: #FF0000;
    display: none;
}

#login_wrap .form_box .chk_row{overflow: hidden;}
#login_wrap .form_box .chk_row .check{float: left;}
#login_wrap .form_box .chk_row .find{float: right;}

#login_wrap .form_box .chk_row input[type=checkbox]{position: absolute; left: -9999px;}

#login_wrap .form_box .chk_row label::before{
    content: ""; 
    display: inline-block; vertical-align: top; margin-right: 6px;
    width: 24px; height: 24px;
    border-radius: 4px;
    border: 1px solid #FF9200; background-color: #F5F5F5;
}
#login_wrap .form_box .chk_row input[type=checkbox]:checked + label::before{
    background: #F5F5F5 url(../images/ico-checked.svg) no-repeat center;
}

#login_wrap .form_box .btn_row{}
#login_wrap .form_box .btn_row button.btn_login{
    width: 100%;
    margin-top: 44px;
}
#login_wrap .form_box .btn_row a.btn_join{
    display: inline-block; width: 100%;  margin-top: 20px;
    text-align: center; line-height: 60px; box-sizing: border-box;
    background: #fff;
}

/* 회원가입-약관동의 */
#join_wrap{padding: 150px 0;}
#join_wrap .tit_box{text-align: center;}
#join_wrap .tit_box h2{font-size: 42px;}
#join_wrap .tit_box p{font-size: 18px;}

#join_wrap .step_box{width: 620px; margin: 40px auto 0 auto;}

#join_wrap .step_box ol{text-align: center;}
#join_wrap .step_box ol li{
    display: inline-block;
    font-size: 20px; font-weight: 600;
    color: #8B8B8B;
}
#join_wrap .step_box ol li + li{margin-left: 60px;}

#join_wrap .step_box ol li.current{color: #000;}

#join_wrap .step_box ol li:nth-child(1)::before{
    content: "01"; display: block; font-size: 16px; font-weight: 400;
}
#join_wrap .step_box ol li:nth-child(2)::before{content: "02"; display: block; font-size: 16px; font-weight: 400;}
#join_wrap .step_box ol li:nth-child(3)::before{content: "03"; display: block; font-size: 16px; font-weight: 400;}

#join_wrap .form_box{width: 680px; margin: 90px auto 0 auto;}
#join_wrap .form_box h3{font-size: 26px; font-weight: 600; margin-bottom: 20px;}

#join_wrap .form_box .row + .row{margin: 20px 0;}

#join_wrap .form_box .chk_row{position: relative; line-height: 40px;}
#join_wrap .form_box .chk_row input[type=checkbox]{position: absolute; left: -9999px;}
#join_wrap .form_box .chk_row label::before{
    content: ""; 
    display: inline-block; vertical-align: middle; margin-top: -8px;
    width: 24px; height: 24px; border-radius: 4px; margin-right: 6px;
    border: 1px solid #DFDFDF; background-color: #fff;
}
#join_wrap .form_box .chk_row input[type=checkbox]:checked + label::before{
    border-color: #FF9200;
    background: #fff url(../images/ico-checked.svg) no-repeat center;
}

#join_wrap .form_box .chk_row .btn_view{
    position: absolute; right: 0; top: 50%; transform: translateY(-50%);
    width: 100px; height: 40px; 
    background: #DFDFDF; border: 1px solid #DFDFDF;
    font-family: 'SCoreDream'; font-size: 16px; font-weight: 500;
    cursor: pointer;
}

#join_wrap .form_box .scroll_wrap{
    background: #DFDFDF;
    padding: 40px 40px 0 40px;
    height: 300px; box-sizing: border-box;
    /* white-space: nowrap; */
    overflow: auto; margin-top: 20px;
    display: none;
}

#join_wrap .form_box .btn_row{overflow: hidden; margin-top: 40px;}
#join_wrap .form_box .btn_row .btn_cancel{width: 250px; float: left;}
#join_wrap .form_box .btn_row .btn_next{width: 420px; float: right;}


/* 회원가입-정보입력 */
#join_wrap .form_box .inp_row .inp_txt{}
#join_wrap .form_box .inp_row .inp_txt input[type=email],
#join_wrap .form_box .inp_row .inp_txt input[type=tel],
#join_wrap .form_box .inp_row .inp_txt input[type=password]{
    width: 490px; height: 60px; border-radius: 8px;
    padding: 0 20px;
    border: 1px solid #8B8B8B; box-sizing: border-box;
    font-family: 'SCoreDream'; font-size: 16px;
}

#join_wrap .form_box .inp_row .inp_txt .btn_dbchk{
    float: right;
    width: 160px; height: 60px;
    margin-left: 30px;
    border-radius: 8px; border: 1px solid #E3E3E3;
    background: #E3E3E3;
    font-family: 'SCoreDream'; font-size: 16px;
    cursor: pointer;
}
#join_wrap .form_box .radio_row{overflow: hidden; margin-top: 25px;}
#join_wrap .form_box .radio_row span{float: left; font-size: 18px; font-weight: 500;}
#join_wrap .form_box .radio_row p{float: right;}

#join_wrap .form_box .radio_row input[type=radio]{
    position: absolute; left: -9999px;
}

#join_wrap .form_box .radio_row label{margin-left: 45px;}
#join_wrap .form_box .radio_row label::before{
    content: ""; 
    display: inline-block; vertical-align: top;
    width: 24px; height: 24px; margin-right: 6px;
    background: url(../images/input-radio.svg) no-repeat 0 0;
}

#join_wrap .form_box .radio_row input[type=radio]:checked + label::before{
    background-position-y: -34px;
}

/* 회원가입-가입완료 */
#join_wrap .content_box{width: 680px; margin: 90px auto 0 auto; text-align: center;}
#join_wrap .content_box .tit{font-size: 26px; font-weight: 600;}
#join_wrap .content_box .ico_box{margin-top: 15px;}
#join_wrap .content_box .txt_box{margin-top: 15px;}
#join_wrap .content_box .txt_box p strong{font-size: 18px; font-weight: 500;}
#join_wrap .content_box .txt_box p + p{margin-top: 10px;}
#join_wrap .content_box .txt_box p em{color: #EB0000;}
#join_wrap .content_box .btn_row{margin-top: 100px;}
#join_wrap .content_box .btn_row .btn_filled{width: 420px;} 



